#wrapper {
  border: 1px solid #000;
  width: 100%; /* Make it full width */
  max-width: 950px; /* Limit the maximum width */
  margin: auto;
}

  a {
    color: white; /* Set the color to black */
    text-decoration: none; /* Remove the underline */
  }

  .home {
    position: relative;
    line-height: 24px;
  }

  .body {
    justify-content: center;
    gap: var(--gap-29xl);
    font-size: var(--font-size-17xl);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center content vertically within the viewport */
    display: flex;
    flex-direction: column;
  }

  .nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color: var(--main-grey);
    color: var(--color-white);
    font-family: var(--font-noto-sans);
    width: 100%;
    margin-bottom: -50px;
    padding: 20px;

  }

  
  .logo-link {
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
  }

  .logo-icon {
    position: relative;
    width: 200%; 
    max-width: 200px; 
    height: auto; 
    object-fit: contain;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-right: 30px;
  }
  .button-in {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
    border-radius: var(--br-9xs);
    font-size: var(--font-size-base);
    color: var(--color-whitesmoke);
  }
  .wallet {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: var(--br-9xs);
    font-size: var(--font-size-base);
    color: var(--color-whitesmoke);
    background-color: var(--main-gold);
    margin-left: 18px;
  }
  
  /* TEST ABOVE  */

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: var(--color-white);
    margin: 3px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
      margin-right: 20px;
    }
  
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      flex-direction: column;
      align-items: flex-start;
      min-width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 3;
      top: 85px;
      left: 10%;
      overflow-x:auto;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s, pointer-events 0.3s;
    }
  
  
    .menu-toggle .dropdown-content.active{
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }
    
    .dropdown-content a {
      display: flex;
      padding: 15px;
      width: 100%;
      text-decoration: none;
      font-size:small;
      color: #333;
    }
  
    .dropdown-content a:hover {
      background-color: var(--main-gold);
    }
  
      /* .menu-toggle:hover .dropdown-content {
      display: flex;
    } */
  
  }
  
  @media (max-width: 768px) {

    .buttons {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 10px;
      background-color: var(--main-grey);
      border-radius: var(--br-9xs);

    }
  
    .buttons a {
      text-decoration: none;
      color: var(--color-white);
    }
  
    .buttons.show {
      display: flex;
    }
  }

  .wallet-child {
    position: relative;
    /* width: 9.37px;
    height: 9.37px;
    padding: 0px; */
    margin-left: 8px;
  }

  /* NAVBAR! */

  .hero {
    position: relative;
    background-color: #0f1218;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {

    .about-icon {
      object-fit:  contain;
    }
  }

  /* SECTION */

  .frame {
    width: 100%;
    padding: 0 var(--padding-125xl);
    box-sizing: border-box;
    gap: var(--gap-9xl);
    padding: var(--padding-21xl) 0;
    font-size: var(--font-size-xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .section-title {
    align-self: stretch;
    width: 100%;
    position: relative;
    font-size: var(--font-size-17xl);
    line-height: 44px;
  }

  .description {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 100%;
  }

  .download-the-whitepaper-parent {
    width: 100%;
    padding: 0 var(--padding-125xl);
    box-sizing: border-box;
    gap: var(--gap-5xl);
    font-size: var(--font-size-9xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .download-the-whitepaper {
    position: relative;
    line-height: 36px;
  }

  .button {
    border-radius: var(--br-9xs);
    background-color: var(--main-gold);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-xl);
  }



  .divider {
    background-color: #51504e;
    width: 100%;
    height: 10px;
  }

  .frame3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-125xl);
    box-sizing: border-box;
    gap: var(--gap-base);
  }

  .image {
    position: relative;
    width: 436px;
    height: 436px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .icon {
      max-width: 100%; /* Ensure the image doesn't exceed the width of the viewport */
      height: auto; /* Maintain the image's aspect ratio */
  }

  .description3,
  .description4{
    position: relative;
  }
  .description4 {
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--color-white);
  }

  .frame-parent,
  .image-parent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .frame-parent {
    flex-direction: column;
    padding: 16px 0;
    gap: var(--gap-base);
  }
  .image-parent {
    width: 1440px;
    flex-direction: row;
    padding: 0 var(--padding-125xl);
    box-sizing: border-box;
    gap: var(--gap-9xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--main-gold);
  }
  .button-child {
    position: relative;
    width: 11.37px;
    height: 11.37px;
  }

  .divider1 {
    background-color: var(--color-dimgray-100);
    width: 100%;
    height: 60px;
    display: none;
  }

  .security {
    position: relative;
    line-height: 44px;
    line-height: 120%;
    align-self: stretch;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

  }

  .enhanced-security-with {
    position: relative;
    font-size: var(--font-size-base);
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 240px;
  }
  .frame4 {
    border-radius: var(--br-5xs);
    width: 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-lg);
    box-sizing: border-box;
    gap: var(--gap-xs);
  }

  .section {
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-125xl);
    box-sizing: border-box;
    gap: var(--gap-base);
    font-size: var(--font-size-5xl);
    color: var(--main-gold);
  }


.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-icon {
  position: relative;
  width: 100%; 
  /* max-width: 200px;  */
  height: auto; 
}


/* FOOTER!! */

.footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4b4a48;
  width: 100%;
  justify-content: space-between;
  padding: 62px var(--padding-125xl);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .footer1 {
    flex-direction: column;
  }
}



.company-info {
  /* flex: 1; */

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: -50px;
  margin-right: -50px;
}


  .let-nextcent-do-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .button-child {
    position: relative;
    width: 11.37px;
    height: 11.37px;
  }
  .button,
  .cta {
    display: flex;
    align-items: center;
  }
  .button {
    border-radius: var(--br-9xs);
    background-color: var(--main-gold);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .cta {
    background-color: #6d6b69;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 0;
    box-sizing: border-box;
    gap: var(--gap-9xl);
    text-align: center;
    font-size: 40px;
    color: var(--color-white);
  }
  .english,
  .korean {
    text-align: center;
    position: relative;
    line-height: 20px;
  }
  .korean {
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .english {
      line-height: 10px;
      font-size: 2vw;

    }
    .korean {
      line-height: 10px;
      font-size: 2vw;
    }
  }

  .language {
    background-color: #575653;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    box-sizing: border-box;
    gap: var(--gap-9xl);
  }

  .social-icons {
    position: relative;
    width: 32px;
    height: 32px;
  }


  .social-links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
  .social-links {
    overflow: hidden;
    justify-content: flex-end;
    gap: var(--gap-base);
    display: flex;
    flex-direction: row;
    align-items: center;
  }



  .footer,
  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-sm);
    color: var(--color-whitesmoke);
  }
  .about {
    position: relative;
    background-color: var(--main-grey);
    width: 100%;
    overflow: hidden;
    align-items: center;
    gap: var(--gap-29xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-noto-sans);
  }
  .footer {
    width: 100%;
    overflow: hidden;
    margin: 10px;
  }